{% extends 'base.html.twig' %}

{% block title %}{{ package.id }}{% endblock %}

{% block body %}
    <table class="table bordered">
        <tr>
            <td>#</td>
            <td>Client</td>
            <td>Expéditeur</td>
            <td>Status</td>
            <td>Point relais</td>
            <td>Casier</td>
            <td>Poids</td>

        </tr>
        <tr>
            <td>{{ package.id }}</td>
            <td>{{ package.customer.name }}</td>
            <td>{{ package.sender.id }}</td>
            <td>{{ package.status|join(', ') }}</td>
            <td>{{ package.hub.adress }}</td>
            <td>{{ package.locker.id }}</td>
            <td>{{ package.weight }}</td>
        </tr>
    </table>
{% endblock %}
